body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
  background-image: radial-gradient(
      50% 150% at 50% 25%,
      rgba(220, 172, 0, 0.15) 1%,
      white 30%
    );

  background-size: cover;
}
